svg{
    display: flex;
}

path {
    stroke: #E3CCAE;
}

path:hover{
    fill: #B8621B;
}

.selected-path{
    fill: #10316B;
}

.selected-path:hover{
    fill: #10316B;
}

p{
    color: #E3CCAE;
}

.instructional-div{
    justify-content: center;
    align-items: center;
}
